@import '/src/assets/scss/bootstrap-utils.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');

section {
  padding-bottom: 70px;

  h1 {
    font-size: calc(2rem + 1.5vw);
    font-family: "Dancing Script", "Roboto", sans-serif;
  }

  p {
    margin: 0;

    & + p {
      margin-top: 8px;
    }
  }
}
