<section class="como-funciona position-relative bg-rosa-escuro text-rosa-claro">
  <div class="page-wrapper">
    <div class="row g-3">
      <div class="col-lg-8">
        <h5 isVisible from="Right" [pixels]="30" class="text-uppercase">
          Como funciona
        </h5>
        <h1 isVisible from="Left" [pixels]="40">
          Abordagem Psicanalítica
        </h1>
        <p>
          A psicanálise preocupa-se em entender como funciona a mente humana, partindo do princípio de que muitos dos
          processos psíquicos são inconscientes. Na abordagem psicanalítica, nossas emoções e atitudes são o resultado
          de fatores dos quais não temos consciência.
        </p>
        <p>
          O paciente é levado a refletir e se enxergar de outra maneira durante a abordagem psicanalítica. Com o auxílio
          do psicólogo, durante as sessões de análise, o paciente passa a conhecer melhor a própria mente e a
          identificar a razão de seus sentimentos, conflitos e emoções.
        </p>
        <p>
          A pessoa é vista como um todo na abordagem psicanalítica. Não são considerados somente os sintomas e
          circunstâncias atuais, mas é feito um acompanhamento muitas vezes durante anos, observando o cotidiano do
          paciente e suas reações diante de várias situações e, também, suas relações interpessoais.
        </p>
      </div>

      <div class="col-lg-4 center">
        <img isVisible from="Right" data-src="assets/images/conversa.webp" alt="Conversa">
      </div>

      <div isVisible [pixels]="40" class="col center pt-3">
        <app-agendar-consulta-button />
      </div>
    </div>
  </div>

  <app-separator-shape />
</section>
