<section class="como-funciona position-relative bg-rosa-escuro text-rosa-claro">
  <div class="page-wrapper">
    <div class="row g-3">
      <div class="col-lg-8">
        <h5 isVisible from="Right" [pixels]="30" class="text-uppercase">
          Como funciona
        </h5>
        <h1 isVisible from="Left" [pixels]="40">
          Abordagem Psicanalítica
        </h1>

        <p>
          Na psicanálise buscamos a origem dos problemas, ou seja, exploramos o inconsciente, propondo&#8209;se a trazer
          os conflitos internos para a consciência, os quais, influenciam as emoções e os comportamentos do sujeito.
        </p>

        <p>
          A psicanálise tem como objetivo encorajar o indivíduo a falar livremente sobre seus sentimentos, pensamentos e
          memórias. Assim, o profissional busca criar um ambiente seguro e confiável, respeitando a singularidade de
          cada um, deixando&#8209;o a vontade para explorar suas emoções mais profundas e inconscientes,
          utilizando&#8209;se de técnicas.
        </p>

        <p>
          Além disso, na abordagem psicanalítica os sonhos são importantes, pois é por meio deles que há manifestações
          simbólicas do inconsciente. Ainda, a relação paciente e terapeuta é fundamental, dado que, através da relação
          o paciente poderá manifestar padrões comportamentais de seus relacionamentos, originalmente dirigidos a
          figuras significativas do passado.
        </p>

        <p>
          Por isso, eu enquanto psicóloga através do manejo de técnicas, irei ofertar um ambiente de apoio, com sigilo e
          ética profissional para que o paciente nesse processo, encontre insights sobre seus conflitos internos,
          traumas passados, compreenda seus padrões comportamentais e desenvolva autoconhecimento. Dessa forma, o
          sujeito pode obter uma transformação significativa, proporcionando uma vida mais autêntica.
        </p>
      </div>

      <div class="col-lg-4 center flex-column gap-4 gap-lg-5">
        <img isVisible from="Right" data-src="assets/images/conversa.webp" alt="Conversa">

        <app-agendar-consulta-button isVisible [pixels]="40" />
      </div>
    </div>
  </div>

  <app-separator-shape />
</section>
