<section class="areas-atuacao position-relative bg-rosa text-escuro">
  <div class="page-wrapper">
    <div class="center flex-column">
      <h1>Áreas de Atuação</h1>
      <span>
        Demandas mais frequentes que atendo
      </span>

      <div class="row g-3 my-3 w-100">
        @for (areaAtuacao of areasAtuacao; track areaAtuacao.titulo) {
          <div class="col-6 col-md-3">
            <div isVisible [from]="areaAtuacao.from" [pixels]="40" class="center flex-column gap-2">
              <img [ngSrc]="areaAtuacao.imagem" [alt]="areaAtuacao.titulo" [width]="150" [height]="150">
              <span class="item">{{ areaAtuacao.titulo }}</span>
            </div>
          </div>
        }
      </div>

      <div isVisible from="Bottom" [pixels]="40" class="center mt-3">
        <app-agendar-consulta-button [isEscuro]="true" />
      </div>
    </div>
  </div>

  <app-separator-shape [isEscuro]="true" />
</section>
