section {
  background-color: var(--rosa);
  padding-bottom: 70px;

  .row {
    --circle-size: 80px;

    .card {
      position: relative;
      padding-top: calc(var(--circle-size) / 2);

      .icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: calc(var(--circle-size) / 2);
        background-color: var(--rosa-escuro);

        top: calc(calc(var(--circle-size) / 2) * -1);
        left: 20px;

        .ng-fa-icon {
          color: var(--rosa);
        }
      }
    }

    & > * {
      margin-top: calc(var(--circle-size) / 2 + 16px);
    }
  }

  .background-video-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    // pointer-events: none;
    overflow: hidden;

    iframe,
    .content {
      position: absolute;
      top: -60px;
      border: 0;
      width: 100%;
      height: calc(100% + 120px);
      object-fit: cover;
    }

    iframe {
      z-index: 1;
    }

    .content {
      display: none;
      z-index: 2;
      flex-direction: column;
      pointer-events: all;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
