<section class="sobre-psicologa position-relative bg-rosa-escuro text-rosa-claro">
  <div class="page-wrapper">
    <div class="row g-3 g-md-5">
      <div class="col-12 col-md d-flex gap-3 flex-column">
        <div>
          <img src="assets/images/logo-nome.svg" alt="Logo" class="logo">
        </div>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dolor consequuntur expedita amet repellendus
          odio iure voluptatibus omnis odit vitae totam itaque, magnam repellat rerum ipsum eveniet ullam distinctio
          possimus
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dolor consequuntur expedita amet repellendus
          odio iure voluptatibus omnis odit vitae totam itaque, magnam repellat rerum ipsum eveniet ullam distinctio
          possimus
        </p>

        <div class="d-none d-md-block">
          <app-agendar-consulta-button />
        </div>
      </div>
      <div class="col-12 col-md-auto d-flex justify-content-center">
        <img data-src="assets/images/psicologa2.webp" alt="Psicóloga" class="psicologa">
      </div>

      <div class="col-12 d-flex d-md-none justify-content-center pt-2">
        <app-agendar-consulta-button />
      </div>
    </div>
  </div>

  <app-separator-shape />
</section>
