<section class="psicologa">
  <div class="page-wrapper">
    <div class="row g-3">
      <div class="col-12 col-md">
        <span>
          Psicóloga Clínica | {{ environment.crp }}
        </span>

        <h1>
          Manoella Larissa dos Santos
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dolor consequuntur expedita amet repellendus
          odio iure voluptatibus omnis odit vitae totam itaque, magnam repellat rerum ipsum eveniet ullam distinctio
          possimus
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dolor consequuntur expedita amet repellendus
          odio iure voluptatibus omnis odit vitae totam itaque, magnam repellat rerum ipsum eveniet ullam distinctio
          possimus
        </p>

        <app-agendar-consulta-button />
      </div>

      <div class="col-12 col-md-auto">
        FOTO
      </div>
    </div>
  </div>
</section>
