@import '/src/assets/scss/bootstrap-utils.scss';

section {
  padding-bottom: 70px;

  .logo {
    width: auto;
    height: 60px;
  }

  .psicologa {
    border-radius: 12px;
  }

  p {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 90% !important;
    height: auto !important;
  }
}
