<section class="contato position-relative bg-rosa text-escuro pb-3">
  <div class="page-wrapper">
    <div class="row g-4">
      <div class="col-md-6 redes">
        <h3 class="m-0 mb-2">Fale comigo</h3>

        <div class="d-flex align-items-center gap-3">
          <a [href]="environment.whatsappUrl" target="_blank" aria-label="Whatsapp">
            <fa-icon [icon]="icons.whatsapp" size="2x" />
          </a>
          <a [href]="environment.instagramUrl" target="_blank" aria-label="Instagram">
            <fa-icon [icon]="icons.instagram" size="2x" />
          </a>
        </div>

      </div>
      <div class="col-md-6 d-flex flex-column align-items-md-end">
        <h3 class="m-0 mb-2">Te espero aqui</h3>
        <a [href]="environment.googleMapsUrl" target="_blank" class="hover-underline text-md-end">
          Rua Pedro dos Santos Ramos, 702 - Sala 02B
          <br>
          Edifício Serena - Jardim La Salle, Toledo - Paraná
        </a>
      </div>

      <div class="col-12">
        <a [href]="environment.googleMapsUrl" target="_blank" class="mapa" aria-label="Localização">
          <iframe title="Localização" allowfullscreen="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.1716080771344!2d-53.749701923879456!3d-24.72098810521826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f395e8ab7af2ff%3A0xb405efcb3f82a212!2sPsic%C3%B3loga%20Manoella%20Larissa%20dos%20Santos!5e0!3m2!1spt-BR!2sbr!4v1718022736064!5m2!1spt-BR!2sbr"></iframe>
        </a>
      </div>
    </div>
  </div>
</section>
