<section class="alerta-suicidio bg-rosa-escuro text-rosa-claro">
  <div class="page-wrapper center gap-4 flex-column flex-md-row">
    <div
      isVisible
      from="Left"
      [pixels]="30"
      class="rounded-circle p-2"
      (mousedown)="abrirCadastroTermoConsentimento()"
      (mouseup)="cancelarAberturaCadastroTermoConsentimento()"
    >
      <fa-icon [icon]="icons.hand" size="lg" />
    </div>

    <div isVisible from="Right" class="d-flex flex-column gap-1">
      <p class="text-center text-md-start">
        <span>Atenção:</span>
        Este site não oferece atendimento imediato a pessoas em crise.
      </p>

      <p class="text-center text-md-start">
        Em caso de crise ligue para o
        <a href="tel:+55188" class="hover-underline text-rosa-claro">Centro de Valorização à Vida (CVV) - 188</a>.
      </p>

      <p class="text-center text-md-start">
        Havendo risco de morte, ligue imediatamente para o
        <a href="tel:+55192" class="hover-underline text-rosa-claro">SAMU - 192</a>.
      </p>
    </div>
  </div>
</section>
