<section class="initial position-relative">
  <div class="page-wrapper">
    <div class="row g-3">
      <div class="col-12 col-md">
        <span>
          Psicóloga Clínica | {{ environment.crp }}
        </span>

        <h1>
          Manoella Larissa dos Santos
        </h1>

        <span>
          Meu propósito é
          <span class="fw-semibold">
            Ajudar Você
          </span>
          a ter mais qualidade de vida com saúde mental e emocional.
          <span class="fw-semibold">
            Cuide de você!
          </span>
        </span>

        <app-agendar-consulta-button />
      </div>
      <div class="col-12 col-md-auto">
        FOTO
      </div>
    </div>
  </div>

  <app-separator-shape />
</section>
