<section class="initial position-relative bg-rosa-escuro text-rosa-claro">
  <div class="page-wrapper">
    <div class="row g-3">
      <div class="col-12 col-md d-flex gap-3 flex-column align-items-center align-items-md-start">
        <img isVisible from="Left" ngSrc="assets/images/logo.svg" [width]="232" [height]="50" alt="Logo" priority class="logo">

        <p>
          Descubra como vencer a insegurança, conquiste uma autoestima inabalável e
          <span class="fw-semibold">supere seus limites</span>.
        </p>

        <p>
          Ao longo da vida, nos deparamos com situações que podem abalar nossa autoestima e prejudicar nossa confiança,
          por isso, é importante dedicar um tempo ao autocuidado.
          Assim, você desenvolverá as técnicas necessárias para enfrentar desafios de maneira assertiva, além de
          promover relações saudáveis e fortalecer sua autoconfiança.
        </p>

        <div
          class="d-flex gap-3 gap-lg-5 flex-column-reverse flex-lg-row align-items-sm-center align-items-md-start align-items-lg-center">
          <p class="tipo-atendimento text-center d-flex align-items-center">
            <fa-icon [icon]="icons.tipo" size="lg" class="me-2" />
            Atendimento presencial
            <br class="d-sm-none">
            e on&#8209;line para adultos
          </p>

          <p class="tipo-atendimento text-center d-flex align-items-center">
            <fa-icon [icon]="icons.individual" size="lg" class="me-2" />
            Atendimento individual
          </p>
        </div>

        <div isVisible [pixels]="40" class="d-none d-md-block">
          <app-agendar-consulta-button />
        </div>
      </div>
      <div class="col-12 col-md-auto center">
        <div isVisible from="Right" class="image-wrapper">
          <img ngSrc="assets/images/psicologa.webp" [width]="258" [height]="340" alt="Psicóloga" priority class="psicologa">
        </div>
      </div>

      <div isVisible [pixels]="40" class="col-12 d-flex d-md-none justify-content-center pt-2">
        <app-agendar-consulta-button />
      </div>
    </div>
  </div>

  <app-separator-shape />
</section>
