$rosa:        #FFB9C4;
$rosa-claro:  #FFE8EB;
$rosa-escuro: #C97885;

$verde:        #b3eeab;
$verde-claro:  #c7f3bd;
$verde-escuro: #5cc163;

$rosa-rgb:        255, 185, 196;
$rosa-claro-rgb:  255, 232, 235;
$rosa-escuro-rgb: 201, 120, 133;

$verde-rgb:        179, 238, 171;
$verde-claro-rgb:  199, 243, 189;
$verde-escuro-rgb: 92, 193, 99;

$success: #3da75a;
$info:    #13101c;
$warning: #f7eed7;
$danger:  #dd5861;
