<section class="beneficios position-relative bg-rosa text-escuro">
  <div class="page-wrapper">
    <div class="center flex-column mb-3">
      <h1>Benefícios da Psicoterapia</h1>
    </div>

    <div class="row g-4">
      <div class="col-md-6">
        <div isVisible from="Left" class="card">
          <div class="card-body">
            <span>
              <fa-icon [icon]="icons.check" />
              Ter maior compreensão de si e da sua personalidade
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a identificar os fatores que desencadeiam a ansiedade depressão
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a construir um propósito de vida, e a lidar com questões existenciais
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Auxilia no reconhecimento de pensamentos intrusivos e crenças limitantes
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Permite acessar e trabalhar com conteúdo do inconsciente
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Acessar e processar as emoções reprimidas
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div isVisible from="Right" class="card">
          <div class="card-body">
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a desenvolver habilidades de autoconhecimento e autoestima
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Favorece autonomia psíquica e a restauração do equilíbrio emocional
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a desenvolver habilidades de relacionamento e comunicação
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a desenvolver uma relação mais saudável consigo mesmo e com os outros
            </span>
            <span>
              <fa-icon [icon]="icons.check" />
              Ajuda a encontrar uma maior integração entre os aspectos conscientes e inconscientes da personalidade
            </span>
          </div>
        </div>
      </div>
    </div>

    <div isVisible [pixels]="40" class="center mt-4">
      <app-agendar-consulta-button [isEscuro]="true" />
    </div>
  </div>

  <app-separator-shape [isEscuro]="true" />
</section>
