<section class="beneficios position-relative bg-rosa text-escuro">
  <div class="page-wrapper">
    <div class="center flex-column">
      <h1>Benefícios da Psicoterapia</h1>
    </div>

    <div class="row g-3 my-3 w-100">
      <ng-container *ngFor="let beneficio of beneficios">
        <div class="col-6 col-md-3">
          <div isVisible [from]="beneficio.from" [pixels]="40" class="center flex-column gap-2">
            <div class="img-wrapper center">
              <img [attr.data-src]="beneficio.imagem" [alt]="beneficio.titulo">
            </div>
            <span class="item">{{ beneficio.titulo }}</span>
          </div>
        </div>
      </ng-container>
    </div>

    <div isVisible [pixels]="40" class="center mt-4">
      <app-agendar-consulta-button [isEscuro]="true" />
    </div>
  </div>

  <app-separator-shape [isEscuro]="true" />
</section>
