<header class="page-wrapper">
  <div class="logo-container">
    <a [routerLink]="['/']">
      <img src="assets/images/logo.svg" alt="Logo">
    </a>
  </div>

  <nav class="fw-semibold menu-desktop">
    <a href="#" class="hover-underline">Início</a>
    <a href="#areas-atuacao" class="hover-underline">Áreas de Atuação</a>
    <a href="#como-funciona" class="hover-underline">Como Funciona</a>
    <a href="#beneficios" class="hover-underline">Benefícios</a>
    <a href="#sobre" class="hover-underline">A Psicóloga</a>
  </nav>
</header>
