header {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(var(--rosa-escuro-rgb), 0.85);

  & > div {
    box-sizing: border-box;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px !important;
    gap: 16px;

    .logo-container img {
      height: 100%;
    }

    nav {
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      gap: 16px;

      a {
        color: var(--rosa-claro);
        text-wrap: nowrap;
      }

      .active {
        color: var(--primary);
      }
    }
  }
}

@media screen and (max-width: 799px) {
  header > div {
    .menu-desktop {
      display: none;
    }
  }
}
