header {
  z-index: 1030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(var(--rosa-escuro-rgb), 0.85);

  & > div {
    box-sizing: border-box;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px !important;
    gap: 16px;

    .menu-mobile {
      display: none;
    }

    .logo-container {
      opacity: 0;
      transition: opacity 0.3s linear;
      pointer-events: none;

      &.visible {
        opacity: 1;
        pointer-events: all;
      }

      img {
        height: 100%;
      }
    }

    nav {
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      gap: 16px;

      a {
        color: var(--rosa-claro);
        text-wrap: nowrap;
      }

      .active {
        color: var(--primary);
      }
    }
  }
}

@media screen and (max-width: 870px) {
  header > div {
    .menu-desktop {
      display: none;
    }

    .menu-mobile {
      display: inline-flex;

      &:hover {
        background-color: rgba(0,0,0,.1);
      }

      aside {
        z-index: 3000;
        position: fixed;
        width: var(--sidebar-width);
        top: var(--header-height);
        bottom: 0;
        right: 0;

        backdrop-filter: blur(5px);
        background-color: rgba(var(--rosa-escuro-rgb), 0.85);
      }
    }
  }
}

::ng-deep .offcanvas  {
  width: 320px !important;

  .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80%;
      height: auto;
    }
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      outline: none;
      font-size: 22px;
      font-weight: 500;
      color: var(--rosa-claro);
    }
  }
}
