<header>
  <div class="page-wrapper">
    <div #logo class="logo-container no-clarity">
      <a [routerLink]="['/']">
        <img ngSrc="assets/images/logo.svg" alt="Logo" [width]="232" [height]="50" priority>
      </a>
    </div>

    @if (isLandingPage()) {
      <nav class="menu-desktop">
        <ng-container *ngTemplateOutlet="menus" />
      </nav>

      <button (click)="abrirMenu(sidebar)" class="menu-mobile btn text-rosa-claro" aria-label="Menu">
        <fa-icon [icon]="menuIcon" size="2x" />
      </button>
    }
  </div>
</header>

<ng-template #menus>
  <a (click)="fecharMenu()" href="#" class="hover-underline">Início</a>
  <a (click)="fecharMenu()" href="#areas-atuacao" class="hover-underline">Áreas de Atuação</a>
  <a (click)="fecharMenu()" href="#como-funciona" class="hover-underline">Como Funciona</a>
  <a (click)="fecharMenu()" href="#beneficios" class="hover-underline">Benefícios</a>
  <a (click)="fecharMenu()" href="#sobre" class="hover-underline">A Psicóloga</a>
  <a (click)="fecharMenu()" href="#contato" class="hover-underline">Contato</a>
</ng-template>

<ng-template #sidebar>
  <div class="offcanvas-header bg-rosa-escuro">
    <img ngSrc="assets/images/logo.svg" alt="Logo" [width]="232" [height]="50" priority>
  </div>
  <div class="offcanvas-body bg-rosa-escuro">
    <ng-container *ngTemplateOutlet="menus" />
  </div>
</ng-template>
